<div class="container">
  <div>
    <ngx-flag-picker
      [selectedCountryCode]="selectedCountryCode"
      [countryCodes]="countryCodes"
      (changedCountryCode)="changeSelectedCountryCode($event)">
    </ngx-flag-picker>
    <h4 class="parameter-text">customLabels</h4>
    <ngx-flag-picker
      [selectedCountryCode]="selectedCountryCode"
      [countryCodes]="countryCodes"
      [customLabels]="customLabels"
      (changedCountryCode)="changeSelectedCountryCode($event)">
    </ngx-flag-picker>
    <h4 class="parameter-text">showFlags = false</h4>
    <ngx-flag-picker
      [selectedCountryCode]="selectedCountryCode"
      [countryCodes]="countryCodes"
      [showFlags]="false"
      (changedCountryCode)="changeSelectedCountryCode($event)">
    </ngx-flag-picker>
    <h4 class="parameter-text">showLabels = false</h4>
    <ngx-flag-picker
      [selectedCountryCode]="selectedCountryCode"
      [countryCodes]="countryCodes"
      [showLabels]="false"
      (changedCountryCode)="changeSelectedCountryCode($event)">
    </ngx-flag-picker>
    <h4 class="parameter-text">showArrow = false</h4>
    <ngx-flag-picker
      [selectedCountryCode]="selectedCountryCode"
      [countryCodes]="countryCodes"
      [showArrow]="false"
      (changedCountryCode)="changeSelectedCountryCode($event)">
    </ngx-flag-picker>
    <h4 class="parameter-text">Selected country code:</h4>
    <h1>{{ selectedCountryCode }}</h1>
  </div>
  <hr />
  <br />
  <!-- github star button -->
  <a
    class="github-button"
    href="https://github.com/iamartyom/ngx-flag-picker"
    data-icon="octicon-star"
    data-size="large"
    data-show-count="true"
    aria-label="Star iamartyom/ngx-flag-picker on GitHub">Star
  </a>
</div>